{% extends 'layouts/base.html' %}
<!-- <html>
<body>
	<form action = "" method = "post">
		{% csrf_token %}
		contact_name:<input type = "text" name = "contact_name"><br>
		contact_email:<input type = "text" name = "contact_email"><br><br>
		content:<textarea rows = "5" cols = "20"></textarea>
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</body>
</html>
 -->

{% block title %}login - {{ block.super}}{% endblock %}

{% block content %}
<h1>login</h1>
<form role="form" action="/forfiles/auth_view/" method="get">
    {% csrf_token %}
    username:<input type = "text" name = "username" id = "username"><br>
	email:<input type = "text" name = "email" id = "email"><br><br>
	password:<input type = "password" name = "password" id = "password"><br><br>
	<!-- Re-Enter password:<input type = "password" name = "re-enter password"><br><br>
	mobilenum:<input type = "text" name = "mobilenum" id = "mobilenum"><br><br> -->
	<!-- content:<textarea rows = "5" cols = "20"></textarea> -->
    <button type="submit">Submit</button>
</form>
{% endblock %}