<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootsrtap For Beginners</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="profilestyle.css">

</head>

<body>

	<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="" class="navbar-brand">repository</a>
				</div>
				<div class="collpase navbar-collapse" id="example">
					<ul class="nav navbar-nav">
						<li><a href="main">Home</a></li>
						<li class=""><a href="#About" data-toggle="About">About us</a></li>
						<li><a href="">Profile</a></li>
					</ul>
					<div class="About" id="About">
						<p>we are here to help you
					</div>
				</div>

			</div>
		</div>
			<div class="jumbotron">
				<div class="container">
					<h1>Hello World</h1>
					<h3></h3>
				</div> 
			</div> 
	</header>

	<form method="get" action="/forfiles/upload/">

        <div class="add" align="center">
                <button class="btn btn-primary" >Add a file</button>
        </div> 
    </form>
	<form action="" class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="search this out">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
	</form>

<br><br><br>
	<footer>
		<div class="container">
			<hr>

			<p>
				<small><a href="http://facebook.com/askorama">Like me</a> On facebook</small></p>
			<p>	<small><a href="http://twitter.com/wiredwiki">Ask whatever </a> On Twitter</small></p>
			<p>	<small><a href="http://youtube.com/wiredwiki">Subscribe me</a> On Youtube</small>
				
			</p>
		</div> <!-- end container -->
	</footer>
		
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>