{% extends 'layouts/base.html' %}
<!-- <html>
<body>
	<form action = "" method = "post">
		{% csrf_token %}
		contact_name:<input type = "text" name = "contact_name"><br>
		contact_email:<input type = "text" name = "contact_email"><br><br>
		content:<textarea rows = "5" cols = "20"></textarea>
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</body>
</html>
 -->

{% block title %}Registration - {{ block.super}}{% endblock %}
{% load static %}
<script src="{% static "js/regVal.js"%}" type = "text/javascript"></script>
{% block content %}
<h1>Registration</h1>
<form role="form" action="/forfiles/signup/" method="post" name = "registration" >
    {% csrf_token %}
    username:<input type = "text" name = "username" id = "username"><br>
	email:<input type = "text" name = "email" id = "email"><br><br>
	password:<input type = "password" name = "password" id = "password1"><br><br>
	Re-Enter password:<input type = "password" name = "password2"><br><br>
	mobilenum:<input type = "text" name = "mobilenum" id = "mobilenum"><br><br>
	<!-- content:<textarea rows = "5" cols = "20"></textarea> -->
    <button type="submit" onclick = "formValidation()">Submit</button>
</form>
{% endblock %}