<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'project/loginstyle.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="" class="navbar-brand">repository</a>
				</div>
				<div class="collpase navbar-collapse" id="example">
					<ul class="nav navbar-nav">
						<li><a href="main">Home</a></li>
						<li class="active"><a href="">About us</a></li>
						<li><a href="profile">Profile</a></li>
					</ul>
				</div>

			</div>
		</div> 
	</header>
		<div class="body">
			<center>
			<h1> User Login </h1>
			<div class="logo">
				{% load staticfiles %}
				<p><img src="{% static 'project/images/login_logo.jpg' %}" alt="image" width="30%" height="30%"></p>
			</div>
			<div class="login_block">
				<div class="uname">
					<h1> User Name</h1> 
					<input type = "text" placeholder="UserName" id="username">
				</div>
				<div class="pwd">
					<h1> Password </h1>
					<input type = "password" placeholder = "Password" id="password"><br>
				</div>
				<div class="l_button">
					<button>Login</button>
				</div>
			</div>
		</div>
		<footer>
		<div class="container">
			<hr>

			<p>
				<small><a href="http://facebook.com/wpproject">Like us</a> On facebook</small></p>
			<p>	<small><a href="http://twitter.com/epproject">Ask whatever </a> On Twitter</small></p>
			<p>	<small><a href="http://youtube.com/wpproject">Subscribe us</a> On Youtube</small>
				
			</p>
		</div> <!-- end container -->
	</footer>
			<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>